In [1]:
import pandas as pd
import numpy as np

df_cells_list_lyon = pd.read_csv('/DISCRET_SOURCE_DATAs/TestAngelo/DIOD/CELLS_TOPO/antennas_locinfo_Lyon.csv', sep=';')
df_cells_infos_list = pd.read_csv('/DISCRET_SOURCE_DATAs/TestAngelo/DIOD/CELLS_TOPO/LocInfo_cancan_allcells_names_wgs.csv', sep=';')

In [5]:
print(df_cells_list_lyon.info(verbose=True))
print(df_cells_infos_list.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2722 entries, 0 to 2721
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2722 non-null   int64
 1   0           2722 non-null   object
dtypes: int64(1), object(1)
memory usage: 42.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429391 entries, 0 to 429390
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   LocInfo   429391 non-null  object
 1   TECHNO    429391 non-null  object
 2   LAC       429391 non-null  int64
 3   CI        429391 non-null  int64
 4   COORD_X   429391 non-null  int64
 5   COORD_Y   429391 non-null  int64
 6   LON       429391 non-null  float64
 7   LAT       429391 non-null  float64
 8   min_dt    429391 non-null  object
 9   max_dt    429391 non-null  object
 10  NOM_SITE  429391 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ MB
None

In [6]:
df_cells_list_lyon = df_cells_list_lyon.rename(columns={'0':'LocInfo'})
cells_lyon_list = df_cells_list_lyon['LocInfo'].tolist()

print(cells_lyon_list[0:10])

['0102f810041e6575', '0102f810041f4a69', '0102f810041f4d6f', '0102f810041fd3e8', '0102f81007083f37', '0102f81007084f79', '8102f8100099560b', '8102f81000998b07', '8102f810009b2806', '8102f81000ae7706']

In [7]:
selected_cells_infos_list = df_cells_infos_list[df_cells_infos_list['LocInfo'].isin(cells_lyon_list)]
print(selected_cells_infos_list.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2722 entries, 498 to 428662
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LocInfo   2722 non-null   object
 1   TECHNO    2722 non-null   object
 2   LAC       2722 non-null   int64
 3   CI        2722 non-null   int64
 4   COORD_X   2722 non-null   int64
 5   COORD_Y   2722 non-null   int64
 6   LON       2722 non-null   float64
 7   LAT       2722 non-null   float64
 8   min_dt    2722 non-null   object
 9   max_dt    2722 non-null   object
 10  NOM_SITE  2722 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 255.2+ KB
None

In [9]:
selected_cells_infos_list.to_csv('antennas_topo_Lyon.csv', index=False)